<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- hibernate的主配置文件 -->
<hibernate-configuration>
  <!-- 通常，一个session-factory节点代表一个数据库 -->
  <session-factory>

    <!--数据库连接配置 -->
    <!--    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>-->
    <!--    <property name="hibernate.connection.url">jdbc:mysql:///ssh_crm?characterEncoding=UTF-8-->
    <!--    </property>-->
    <!--    <property name="hibernate.connection.username">root</property>-->
    <!--    <property name="hibernate.connection.password">761020zy</property>-->
    <!--
        数据库方法配置， hibernate在运行的时候，会根据不同的方言生成符合当前数据库语法的sql
     -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

    <!--其他相关配置 -->
    <!--显示hibernate在运行时候执行的sql语句 -->
    <property name="hibernate.show_sql">true</property>
    <!--格式化sql -->
    <property name="hibernate.format_sql">true</property>
    <!--自动建表  -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <!--Session绑定当前线程-->
    <!--    <property name="hibernate.current_session_context_class">thread</property>-->
    <!--设置事务隔离级别-->
    <!--    <property name="hibernate.connection.isolation">4</property>-->
    <!--加载所有映射-->
    <mapping resource="User.hbm.xml"/>
    <mapping resource="Customer.hbm.xml"/>
    <mapping resource="LinkMan.hbm.xml"/>
    <mapping resource="Visit.hbm.xml"/>
    <mapping resource="Dict.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
